/*Selector universal, para designar font family, margin, padding y box sizing bordex-box*/
* {
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*Sección Nav*/
body{
  width: 100%;
  background-color: #1B8FC4;
}

nav{
  width: 100%;
  height: 55px;
  background-color: #167BA9;
  padding-top: 10px;
}

/*Botón Tablero*/
.tablero{
  width: 107px;
  height: 35px;
  vertical-align: top;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #69A5C2;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#tab{
  line-height: 2;
}

/*clase para todos los botones o links que están en el nav*/
.wLink{
  color:#FFFFFF;
  line-height: 2.5;
  text-align: center;
  text-decoration: none;
}
/*div que envuelve todo lo que involucra a la parte de búsqueda*/
.search {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 4px;
  background-color: #69A5C2;
  display: inline-block;
  vertical-align: top;
}

input#search1 /*input*/{
  width: 170px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #69A5C2;
  resize: none;
  line-height: 2.2;
  font-size: 16px;
  padding-left: 8px;
  color: #FFFFFF;
}

#search1:focus {
  outline: none;
}
.fa-search /*icono*/{
  vertical-align: top;
  line-height: 2;
  margin-left: 7px;
}
/*div Logotipo*/
.logo{
  width: 85px;
  height: 23px;
  background-image: url(../img/logo.png);
  display: inline-block;
  background-size: 100%;
  margin-left: 260px;
  margin-right: 400px;
  vertical-align: super;
}

.btn /*div de botones*/{
  width: 37px;
  height: 35px;
  vertical-align: top;
  background-color: #69A5C2;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-right: 5px;
}

/*contenido boton info.*/
.circle {
 width: 26px;
 height: 26px;
 border-radius: 100%;
 border: 2px solid #FFFFFF;
 text-align: center;
 margin-left: 5px;
 margin-top: 4px;
}

.i{
  line-height: 1.8;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  padding-right: 2px;
}
/*campana*/
.fa-bell-o{
font-weight: bold;
}

/*boton user*/
.user{
  width: 37px;
  height: 35px;
  border-radius: 50%;
  background-image: url(../../../1Twitter/assets/img/user.png);
  background-size: 100%;
  display: inline-block;
}
/*Sección Header*/
/*Texto tablero reto codigo*/
h3{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
}

/*estrella*/
.fa-star-o{
  color: #FFFFFF;
}

.fa-star-o:hover{
  color:#e2cd14;
  font-weight: bold;
}
/*Candado y texto*/
.private{
  display: inline-block;
  color: #FFFFFF;
  margin-left: 10px;
  font-weight: 400;
}

.private1{
  margin-left: 5px;
}
/*puntos*/
.points{
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  margin-left: 780px;
}

.points:after{
  color: #FFFFFF;
  text-decoration: none;
}
/*Menu*/
.menu{
  color: #FFFFFF;
  text-decoration: underline;
  display: inline-block;
  margin-left: 10px;
}
/*tarjetas*/

.tTarjeta /*clase del div contenedor*/{
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #c9c9c9;
  border: none;
  border-radius: 3px;
  min-height: 40px;
  width: 270px;
  color: #000000 ;
  text-align: left;
  filter: opacity(90%);
}

#anadir /*primer boton añadir tarjeta*/{
 margin-top: 20px;
 margin-left: 20px;
 background-color: rgba(0,0,0,.15);
 border: none;
 border-radius: 3px;
 height: 40px;
 width: 270px;
 color: #f3f3f3 ;
 text-align: left;
 filter: opacity(80%);
 padding-left: 5px;
}

#form{
  margin-top: 20px;
  margin-left: 20px;
  background-color: #c9c9c9;
  border: none;
  border-radius: 3px;
  min-height: 40px;
  width: 270px;
  color: #e0dfdf ;
  text-align: left;
  filter: opacity(90%);
  padding-left: 5px;
}

#primerInput{
  margin-top: 10px;
  margin-left: 5px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 250px;
  color: #000000;
  text-align: left;
  filter: opacity(90%);
  padding-left: 5px;
}

.btn3{
  color: pink;
}

.tarea1{
  color: green;
}

.btn4{
  color:blue;
}

#saveButton{
  float: right;
  margin: 10px 11px;
  padding: 10px 20px;
  background-color: #6EC156;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
}

h4/*titulo de la tarjeta*/{
  margin-bottom: 8px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #999;
}

.btn3{
  height: 40px;
  width: 250px;
  border: none;
  background-color: #c9c9c9;
  color: #555553;
}

.tarea1{
  height: 40px;
  width: 250px;
  color: #000000;
  resize: none;
}

.tarea1:focus{
  outline:none;
}

.btn4{
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #6EC156;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
}

.divtarea{
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 2.2;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px #999;
}

input:focus{
  outline:none;
}

.fa-pencil{
  margin-right: 10px;
  line-height: 2.2;
  color:#868686;
  float: right;

}
